<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Produtos</title>
</head>
<body>
<h1>Produtos</h1>
<table border="1" cellpadding="5">
    <thead>
    <tr><th>ID</th><th>Nome</th><th>Preço</th></tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.id}">1</td>
        <td th:text="${produto.nome}">Produto</td>
        <td th:text="${produto.preco}">100.00</td>
    </tr>
    </tbody>
</table>
</body>
</html>
